utils/__pycache__/
optimization/__pycache__/
*.png
__pycache__/
*sh
tmp*
*example*/
*output*/
ilvr*
doc*
custom_sketch*
checkpoints/
!.gitignore
!*.py
*.txt
*test*/
multi*/
*.jpg/
*.png/
split.py
teaser*/
sketch*/
